html {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

h1,
h3,
h5,
p {
  background: black;
  color: white;
  font-weight: normal;
}

.link-container {
  background: black;
  padding: 5px;
  transition: 0.25s;
}

.link-container:hover {
  transform: rotate(-5deg);
}

.link-container:hover .link {
  transform: rotate(5deg);
}

.link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: 0.25s;
}

.home-link-container {
  max-width: 100px;
  margin: 5px auto 0;
}

.github-link-container {
  max-width: 150px;
  margin: 5px auto 0;
  display: flex;
  justify-content: center;
}

.description {
  margin: auto;
  width: 50%;
  background: black;
  padding: 5px 10px;
}

.description-title {
  text-align: center;
}

.snippet {
  background: white;
  color: black;
  padding: 0 2px;
}

p {
  line-height: 1.2;
}
